    <!-- ******FAQ****** -->
    <section id="faq" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Perguntas Frequentes</h2>
                <div class="info">
                    <p>Você pode encontrar resposta para (quase) todas as dúvidas e problemas na <a
                            href="https://pagsegurotransparente.zendesk.com/hc/pt-br" target="_blank">central de ajuda</a>.</p>
                    <p>No entanto, a maioria dos problemas se dão porque a conta não está autorizada pelo PagSeguro a utilizar o checkout transparente. Se esta for a sua suspeita, utilize a ferramenta abaixo para descobrir se sua conta está ou não autorizada a usar o PagSeguro Transparente.</p>
                    <p>Se você utilizar o <a href="{{ site.baseurl }}/pro/app.html">modelo de aplicação</a>, sua conta não precisa ser liberada.</p>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>E-mail da conta do PagSeguro</th>
                                <td><input type="email" placeholder="email da conta" id="email" /></td>
                            </tr>
                            <tr>
                                <th>Token da Conta</th>
                                <td><input type="token" placeholder="token" id="token" /></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"><input type="button" onclick="testToken()" value="Testar" class="btn btn-cta-secondary"/></td>
                            </tr>
                        </tfoot>
                    </table>
                    <span id="resultado"></span>


                </div><!--//info-->

            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->

    <script type="text/javascript">
        var testToken = function(){
            $.ajax({
                url: 'https://ws.ricardomartins.net.br/pspro/v1/token/test/' + $('#email').val() + '/'+ $('#token').val(),
                dataType: 'json',
                crossDomain: true,
            }).done(function(data){
                if(data.valid){
                    $('#resultado').html('Habilitado. Você já pode usar o checkout transparente.');
                }else{
                    $('#resultado').html('Checkout transparente <strong>não habilitado</strong>. <a href="https://pagseguro.uol.com.br/receba-pagamentos.jhtml#checkout-transparent" target="_blank">Faça sua requisição</a> ou tente novamente depois.');
                }
            })
        }
    </script>
