    <!-- ******FEATURES****** --> 
    <section id="funcionalidades" class="features section">
        <div class="container text-center">
            <h2 class="title">Funcionalidades</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> PagSeguro com suporte a cartão de crédito, boleto e TEF(Débito em conta) permitindo digitar os dados sem a necessidade de ser redirecionado para o site do PagSeguro.</li>
                <li><i class="fa fa-check"></i> Trata retorno automático, atualizando status do pedido.</li>
                <li><i class="fa fa-check"></i> Cálculo automático de parcelas de acordo com o cartão selecionado e as regras definidas no seu painel do PagSeguro.</li>
                <li><i class="fa fa-check"></i> Mapeamento de atributos como CPF, Data de Nascimento, rua, bairro, baseado em outros já existentes</li>
                <li><i class="fa fa-check"></i> Modo de debug com logs detalhados.</li>
                <li><i class="fa fa-check"></i> Modo de testes usando Sandbox **</li>
                <li><i class="fa fa-check"></i> Token criptografado nas configurações. Maior segurança pra você.</li>
                <li><i class="fa fa-check"></i> Não salva dados do cartão. Apenas os últimos 4 dígitos.</li>
                <li><i class="fa fa-check"></i> Pagamentos com Boleto ou TEF. *</li>
            </ul>
            <br/>
            <p><small>* Disponível apenas nas versões PRO ou APP</small></p>
            <p><small>** Não disponível na versão APP</small></p>
            <h3 class="white">Telas</h3>
            <p>Tela do OneStepCheckout IWD</p>
            <img src="{{ site.baseurl}}/public/images/sshot1.png" alt="Imagem Checkout IWD"/>
            <p>Configuração geral do módulo</p>
            <img src="{{ site.baseurl}}/public/images/sshot2.png" alt="Configurações gerais"/>
            <p>Configuração de cartão de crédito</p>
            <img src="{{ site.baseurl}}/public/images/sshot3.png" alt="Configuração de cartão de crédito"/>

        </div><!--//container-->
    </section><!--//features-->
