    <!-- ******LICENSE****** --> 
    <section id="licenca" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">Licença</h2>
                <div class="info">
                    <p>O módulo pode ser usado com fins comerciais, desde que qualquer melhoria realizada seja publicada com fork e/ou pull request. (MIT)</p>
                    <p><strong>[Desenvovledor]:</strong> Você pode contribuir fazendo um <a href="https://github.com/r-martins/PagSeguro-Magento-Transparente/pulls" target="_blank">pull request</a> de qualquer alteração ou melhoria.</p>
                </div><!--//info-->
                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">Se preferir, você pode contribuir com uma doação para o projeto. É só clicar no botão abaixo.</p>
                        <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                    </div><!--//speech-bubble-->
                    <div class="btn-container  text-center">
                        <!--//You need to generate your own PayPal button - https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside -->
                        <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                        <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
                            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                            <input type="hidden" name="currency" value="BRL" />
                            <input type="hidden" name="receiverEmail" value="ricardo@ricardomartins.info" />
                            <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/doacoes/120x53-doar-azul.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                        </form>
                        <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                        <!--//PayPal generated code ends-->                    
                        
                    </div><!--//btn-container-->
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->


