    <!-- ******PRECOS****** -->
    <section id="precos" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Preços e Versões</h2>
                <table class="table table-stripped table-bordered compare">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Gratuita (<a href="https://github.com/r-martins/PagSeguro-Magento-Transparente" target="_blank">GitHub</a>)</th>
                            <th><a href="{{ site.baseurl }}/pro">PRO</a></th>
                            <th><a href="pro/app.html">APP</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Aceita cartão de crédito</th>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Código aberto</th>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Retorno automático de dados/status</th>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Não requer autorização do PagSeguro</th>
                            <td><i class="fa fa-times"></i><sup><small>1</small></sup></td>
                            <td><i class="fa fa-times"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Ganha desconto na taxa do PagSeguro</th>
                            <td><i class="fa fa-times"></i></td>
                            <td><i class="fa fa-times"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Contribuí para melhoria do projeto</th>
                            <td><i class="fa fa-times"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Modo Sandbox (para testes)</th>
                            <td><i class="fa fa-check"></i><sup><small>2</small></sup></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-times"></i></td>
                        </tr>
                    </tbody>
                </table>
                <p><small><sup>1</sup> Se utilizado em conjunto com APP, não requer autorização.</small></p>
                <p><small><sup>2</sup> Disponível apenas se utilizado sozinho ou em conjunto com o PRO. Sandbox não disponível no modelo de APP no momento.</small></p>
            <div class="block">
                <h3 class="sub-title text-center">Versão Gratuita</h3>
                <p>Disponível gratuitamente no <a href="https://github.com/r-martins/PagSeguro-Magento-Transparente" target="_blank">GitHub</a> ou
                    <a href="http://www.magentocommerce.com/magento-connect/pagseguro-transparente.html" target="_blank">Magento Connect</a>. Este módulo deve estar presente também se optar por contratar o PRO ou APP.</p>
                <p>Para utilizar, você precisa que sua conta esteja liberada junto ao PagSeguro para utilizar a API transparente.</p>
                <p>O pedido de liberação pode levar alguns dias, e pode ser solicitado <a href="https://pagseguro.uol.com.br/receba-pagamentos.jhtml#checkout-transparent">nesse link</a> sem nenhum custo.</p>
                <p class="text-center">
                    <a target="_blank" href="http://www.magentocommerce.com/magento-connect/pagseguro-transparente.html" class="btn btn-cta-primary"><i class="fa fa-external-link"></i>
                        Download via Magento Connect</a>
                    <a href="https://github.com/r-martins/PagSeguro-Magento-Transparente/zipball/master" class="btn btn-cta-secondary" title="Zip from Github"><i class="fa fa-file-archive-o"></i>
                        Download ZIP</a>
                </p>
            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">PRO</h3>
                <p>Deve ser instalado em conjunto com a versão gratuita e é enviado pra você via e-mail logo após a contratação.</p>
                <p>Adiciona opções de Boleto e TEF à sua loja.</p>
                <ul class="list-unstyled">
                    <li><strong>Valor:</strong> R$9,90/mês</li>
                    <li><strong>Forma de Pagamento:</strong> Cartão de crédito, utilizando sistema de assinatura do próprio PagSeguro.</li>
                    <li>Pode ser cancelado a qualquer momento, sem nenhum custo adicional, diretamente no seu painel do PagSeguro.</li>
                </ul>
                <p class="text-right">
                    <a href="{{ site.baseurl }}/pro" class="btn btn-cta-primary"><i class="fa fa-diamond"></i>Contratar PRO</a>
                </p>
            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">APP ou Modelo de Aplicação</h3>
                <p>Deve ser instalado em conjunto com a versão gratuita e é enviado pra você via e-mail logo após a autorização. Neste modelo, você autoriza a "aplicação", que no caso é o Módulo PagSeguro transparente, a realizar transações com a sua conta.</p>
                <p>Somente neste modelo, <strong>não</strong> é necessário ter a autorização do PagSeguro para utilizar a API transparente. </p>
                <p>Você deve instalar este módulo junto com a versão gratuita acima.</p>
                <p>Ao optar pelo modelo de aplicação, você receberá os seus pagamentos obrigatoriamente no modelo de 14 dias, porém com um desconto na tarifa normal. Veja:</p>
                <ul class="list-unstyled">
                    <li></li>
                    <li><strong>Valor:</strong> 0,4% cobrado sobre todas as transações, porém, você ganha um desconto de 0,5% na tarifa do PagSeguro. *</li>
                    <li><small>* Ao invés de pagar 4,99%, você passará a pagar 4,89%, ou seja, usa o módulo gratuitamente, e ainda tem um desconto. :)</small></li>
                    <li><strong>Forma de Pagamento:</strong> descontado automaticamente nas vendas realizadas, sem necessidade de cartão.</li>
                    <li>Pode ser cancelado a qualquer momento, sem nenhum custo adicional, diretamente no seu painel do PagSeguro ou através
                        <a href="https://pagseguro.uol.com.br/aplicacao/listarAutorizacoes.jhtml">deste link</a>.</li>
                </ul>
                <p class="text-right">
                    <a href="{{ site.baseurl }}/pro/app.html" class="btn btn-cta-primary"><i class="fa fa-magic"></i>Autorizar APP</a>
                </p>
            </div><!--//block-->

            </div><!--//docs-inner-->
        </div><!--//container-->
        <div class="container text-center ads">
            <a href="https://www.udemy.com/curso-magento/?couponCode=PSPRO2015-SITE" target="_blank"><img src="http://ricardomartins.info/tmp/banner-01.png" border="0"/></a>
        </div>
    </section><!-- end precos->
