    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">PagSeguro<span class="highlight">Transparente</span> para Magento</h2>
            <p class="intro">Aceite todos os pagamentos sem sair da loja e aumente suas vendas.</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://pagseguro-exemplo.ricardomartins.net.br/" target="_blank">Demo</a>
                <a class="btn btn-cta-primary" href="#precos" title="via Magento Connect">Download</a>
            </div>
            <ul class="meta list-inline">
                <li><i class="fa fa-github"></i><a href="https://github.com/r-martins/PagSeguro-Magento-Transparente" target="_blank">Ver no GitHub</a></li>
                <li><a href="http://www.magentocommerce.com/magento-connect/pagseguro-transparente.html" target="_blank">Ver no Magento Connect</a></li>
                <li><a href="#como-funciona">Como funciona?</a></li>
                <li>Criado por: <a href="#suporte" target="_blank">Ricardo Martins</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <li class="twitter-follow"><a href="https://twitter.com/r_martins" class="twitter-follow-button" data-show-count="false">Seguir @r_martins</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-follow-->
                    <li class="twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="r_martins" data-hashtags="magento">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-tweet-->
                    <li class="facebook-like">
                         <div class="fb-like" data-href="http://r-martins.github.io/PagSeguro-Magento-Transparente/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    </li><!--//facebook-like-->
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="github-star"><iframe src="http://ghbtns.com/github-btn.html?user=r-martins&repo=PagSeguro-Magento-Transparente&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
                    <li class="github-fork"><iframe src="http://ghbtns.com/github-btn.html?user=r-martins&repo=PagSeguro-Magento-Transparente&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe></li>
                    <!--//
                    <li class="github-follow"><iframe src="http://ghbtns.com/github-btn.html?user=mdo&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></li>
                    -->
                </ul>
            </div>
        </div>
    </section><!--//promo-->
