<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt-br" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="pt-br" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="pt-br"> <!--<![endif]-->
{% include head.html %}
<body data-spy="scroll">
{% include facebook.html %}
{% include header.html %}
{% include promo.html %}
{% include about.html %}
{% include features.html %}
{% include precos.html %}
{% include licenca.html %}
{% include faq.html %}
{% include suporte.html %}
{% include footer.html %}
</body>
</html> 

