<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Pagseguro-magento-transparente by r-martins</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1 onclick="location.href='{{ site.baseurl }}/';" style="cursor:pointer">Pagseguro-magento-transparente</h1>
        <p>Módulo de checkout transparente para Pagseguro - com api v. 2.0</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/r-martins/PagSeguro-Magento-Transparente" class="button fork"><strong>Ver no GitHub</strong></a>
        <div class="downloads">
          <span>PagSeguro Transparene (versão grratuita):</span>
          <ul>
            <li><a href="https://github.com/r-martins/PagSeguro-Magento-Transparente/zipball/master" class="button">ZIP</a></li>
            <li><a href="https://github.com/r-martins/PagSeguro-Magento-Transparente/tarball/master" class="button">TAR</a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>        
        {{ content }}
      </section>
      <footer>
		  <p><a href="http://www.magentocommerce.com/certification/directory/dev/314967/" target="_blank"><img src="/images/middle_developer_logo.png" alt="Módulo desenvolvido por profissional certificado Magento" title="Módulo desenvolvido por profissional certificado Magento" border="0"/></a></p>
		  <p>Projeto mantido por <a href="https://github.com/r-martins">r-martins</a></p>
		  <p><small>Hospedado no GitHub Pages &mdash; Tema: <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
		  <p><small>Não possuí vínculo com PagSeguro UOL</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-3314217-5");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>